.script {
	font-size: 18;
	font-weight: 500;
	padding: 0 1rem;
	width: 100%;
	margin-top: 1rem;
	text-align: center;
}

.controlButton {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: black;
	font-weight: 600;
	background: white;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 2px solid black;
	cursor: pointer;
	text-align: center;
	margin-top: 1rem;
}

.heading {
	font-size: x-large;
	font-weight: 700;
	margin-top: 2rem;
}

.permissionCard {
	padding: 1rem 0.5rem;
	margin: 1rem;
	width: 90%;
	background-color: #ffffff;
	border-radius: 2rem;
	font-size: 18;
	font-weight: 500;
	text-align: center;
	position: relative;
}

.navigationButton {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 2px solid black;
	cursor: pointer;
    width: 50%;
    text-align: center;
    margin: 0.5rem 0 0 0;
}

.navigationButton:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.image {
	position: absolute;
	bottom: 1.25rem;
	right: 2rem;
}