.pageLayout {
	background: black;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-x: hidden;
}

.mainContainer {
	min-height: 100vh;
	max-width: 450px;
	width: 100%;
	background-color: rgb(227, 226, 226);
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.image {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
}
