.submitted {
    width: 100vw;
    height: 100vh;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.script {
	max-height: 20vh;
	font-weight: 800;
	padding: 1rem 2rem;
	margin: 1rem;
	color: #f5f5f5;
	font-size: 24px;
	background: rgb(2, 129, 26);
	border-radius: 2rem;
}